
:root {
  --color-primeri-white: #fbfbfb;
  --color-bg-green: #576f35;
  --color-bg-purpure:  #7a3145;
  
}

/* Basse */
 
*,
*::after,
*::before {
  box-sizing: border-box; /* контент та падінги додаються всередині бордера*/
}

body {
  font-family: "Inter Tight", sans-serif;
  color: var(--color-primeri-white);
  background-color: gainsboro;/*remove*/
 
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
    list-style-type: none;
}

/* ul {
    list-style-type: none;
} */

img {
	display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.section {
  padding: 50px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*common*/


.container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Мобільна гумова верстка (від 320px) */
@media (min-width: 320px) {
    .container {
        width: 100%;
    }
}

/* Адаптивність починається з 375px */
@media (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

/* Планшетна версія (від 768px) */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* Десктопна версія (від 1280px) */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 100px;
    }
}


/*header*/

.header .container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.link-logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo-header {
    width: 16px;
    height: 16px;
    fill: var(--color-primeri-white);
}

.logo-header-title {
    width: 146px;
    height: 12px;
    fill: var(--color-primeri-white);
}
.header-menu {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
}
.burger-icon {
    stroke: var(--color-primeri-white);
    stroke-width: 3px;
    width: 26px;
    height: 20px;
}

/* Оверлей */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнення */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 99; /* Нижче за меню, але вище за контент */
}

/* Показуємо оверлей разом із меню */
.overlay.is-open {
    opacity: 1;
    visibility: visible;
}

/* Мобільне меню */
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh; /* Автоматично підлаштовується під висоту в'юпорту */
    background-color: var(--color-bg-green);
    
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
}

/* Відкрите меню */
.mobile-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Контейнер всередині меню */
.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 296px 20px 52px;
    overflow-y: auto; /* Додає прокрутку, якщо контент не влазить */
}


/* Кнопка закриття */
.mobile-menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;    
}

.mobile-icons-close {
    stroke-width: 3px;
    stroke: var(--color-primeri-white);
}

/* Навігація */
.mobile-navigation {
    flex-grow: 1; /* Розтягуємо на всю доступну висоту */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fbfbfb;
    border-radius: 12px;
    min-height: 44px;
    min-width: 116px;
}

.menu-item.accent {
    background-color: var(--color-primeri-white);
}

.link-menu.accent {
    color: var(--color-bg-green);
}

.link-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--color-primeri-white);
    padding: 12px;
}

/* Кнопка в меню */
.btn-menu {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--color-primeri-white);
    border-radius: 30px;
    border: none;
    padding: 16px 41px;
    background: var(--color-bg-purpure);
}

@media (min-width: 768px) {
    .header .container {
    top: 32px;
}

.link-logo {
    gap: 9px;
}
.logo-header {
    width: 20px;
    height: 20px;
}

.logo-header-title {
    width: 188px;
    height: 17px;
}
.burger-icon {
    width: 32px;
    height: 24px;
}
.mobile-menu {
    width: 351px;
    height: 100vh; /* Висота залишається адаптивною */
}

.btn-menu {
  padding: 16px 32px;

}

.mobile-menu-container {
  padding: 360px 32px 48px;
}

.mobile-menu-close {
  top: 32px;
  right: 32px;

}
}

@media (min-width: 1280px) {

.mobile-menu,
.burger-btn {
   display: none;
}
    
.header-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 20px;
}

}

/*hero*/

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero .container {
    background-color: var(--color-bg-green);
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-grow: 1;
}

.content {
    padding: 100px 20px 40px;
}

.hero-title {
    font-size: 52px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
}

@media (max-width: 340px) {

.hero-title {
    font-size: 42px;
}

.hero-text {
    font-size: 12px;
}

}

@media (min-width: 341px) and (max-width: 360px) {
    .hero-title {
    font-size: 45px;
    }
    .hero-text {
    font-size: 13px;
}
}


@media (min-width: 361px) and (max-width: 374px) {
    .hero-title {
    font-size: 48px;
    }

}



.hero-image {
    width: 100%;
    min-height: 372px;
    flex-grow: 1;
    background: url('../images/mobile-bg-hero.webp') center/cover no-repeat;
}

 @media (min-resolution: 192dpi) and (max-width: 767px), 
(-webkit-min-device-pixel-ratio: 2) and (max-width: 767px) {
  
.hero-image {
  background: url('../images/mobile-bg-hero@2x.webp') center/cover no-repeat;
  }
}

@media (min-width: 768px) {
.content {
  padding: 120px 32px 52px;
}

.hero-title {
    font-size: 76px;
    margin-bottom: 24px;
}

.hero-text {
    max-width: 603px;
    font-size: 16px;
    line-height: 1.25;
}

.hero-image {
    min-height: 536px;
    background: url('../images/tablet-bg-hero.webp') center/cover no-repeat;
}

@media (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px), 
       (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px) {
  
.hero-image {
  background: url('../images/tablet-bg-hero@2x.webp') center/cover no-repeat;
  }
}
}

@media (min-width: 1280px) {

.hero {
  min-height: 100vh;
    }
.hero .container {
  flex-direction: row;
  gap: 38px;
}

.content {
  padding: 232px 0px 52px 100px;
}

.hero-title {
   max-width: 502px;
   margin-bottom: 128px;
}

.hero-text {
    max-width: 472px;
  
}

.hero-image {
    max-width: 640px;
    flex-grow: 1;    
    background: url('../images/bg-hero.webp') center/cover no-repeat;
    min-height: 100%;
}

 @media (min-resolution: 192dpi) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px) {
.hero-image{
   background: url('../images/bg-hero@2x.webp') center/cover no-repeat;
  }

}
}