
/* Basse */
 
*,
*::after,
*::before {
  box-sizing: border-box; /* контент та падінги додаються всередині бордера*/
}

body {
  font-family: "Inter Tight", sans-serif;
  color: #fbfbfb;
  background-color: gainsboro;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
    list-style-type: none;
}


img {
	display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.section {
  padding: 50px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*common*/


.container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Мобільна гумова верстка (від 320px) */
@media (min-width: 320px) {
    .container {
        width: 100%;
    }
}

/* Адаптивність починається з 375px */
@media (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

/* Планшетна версія (від 768px) */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* Десктопна версія (від 1280px) */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 100px;
    }
}


/*header*/

.header .container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.link-logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo-header {
    width: 16px;
    height: 16px;
    fill: #fbfbfb;
}

.logo-header-title {
    width: 146px;
    height: 12px;
    fill: #fbfbfb;
}
.header-menu {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
}
.burger-icon {
    stroke: #fbfbfb;
    stroke-width: 3px;
    width: 26px;
    height: 20px;
}

/* Оверлей */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнення */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 99; /* Нижче за меню, але вище за контент */
}

/* Показуємо оверлей разом із меню */
.overlay.is-open {
    opacity: 1;
    visibility: visible;
}

/* Мобільне меню */
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh; /* Автоматично підлаштовується під висоту в'юпорту */
    background-color: #576f35;
    
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
}

/* Відкрите меню */
.mobile-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Контейнер всередині меню */
.mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 296px 20px 52px;
}


/* Кнопка закриття */
.mobile-menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;    
}

.mobile-icons-close {
    stroke-width: 3px;
    stroke: #fbfbfb;
}

/* Навігація */
.mobile-navigation {
    flex-grow: 1; /* Розтягуємо на всю доступну висоту */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}
.menu-item {
    min-width: 116px;
    min-height: 44px;
}
.link-menu {
    display: block;
    border-radius: 12px;
    background-color:  #7a3145;
    color: #fbfbfb;
    padding: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
}
.link-menu:active {
    background-color: #fbfbfb;
    color: #7a3145;
}

/* Кнопка в меню */
.btn-menu {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    border-radius: 30px;
    border: none;
    padding: 16px 41px;
    background-color:  #7a3145;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-menu:active {
    background-color: #fbfbfb;
    color:  #7a3145;
}

@media (min-width: 768px) {
    .header .container {
    top: 32px;
}

.link-logo {
    gap: 9px;
}
.logo-header {
    width: 20px;
    height: 20px;
}

.logo-header-title {
    width: 188px;
    height: 17px;
}
.burger-icon {
    width: 32px;
    height: 24px;
}
.mobile-menu {
    width: 351px;
    height: 100vh; /* Висота залишається адаптивною */
}

.btn-menu {
  padding: 16px 32px;

}

.mobile-menu-container {
  padding: 150px 32px 150px;
}

.mobile-menu-close {
  top: 32px;
  right: 32px;

}
}

@media (min-width: 1280px) {
.overlay,
.mobile-menu,
.burger-btn {
   display: none;
}
    
.header-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-list {
    flex-direction: row;
    gap: 8px;
    margin-bottom: 0;
    margin-right: 20px;
}

.menu-item {
    min-width: 0;
    min-height: 0;
}

.link-menu {
    display: inline;
}

.link-menu:hover,
.link-menu:focus {
    background-color: #d4bfc4;
    color: #7a3145;
    outline: none;
}

.link-menu:active {
    background-color: #fbfbfb;
    color: #7a3145;
}

.btn-menu:hover,
.btn-menu:focus {
    background-color: #d4bfc4;
    color: #7a3145;
    outline: none;
}
.btn-menu:active {
    background-color: #fbfbfb;
    color: #7a3145;
}

}

/*hero*/

.hero {
    display: flex;
    align-items: center;
}

.hero .container {
    background-color: #576f35;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-grow: 1;
}

.content {
    padding: 100px 20px 40px;
}

.hero-title {
    font-size: 52px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
}

@media (max-width: 340px) {

.hero-title {
    font-size: 42px;
}

.hero-text {
    font-size: 12px;
}

}

@media (min-width: 341px) and (max-width: 360px) {
    .hero-title {
    font-size: 45px;
    }
    .hero-text {
    font-size: 13px;
}
}


@media (min-width: 361px) and (max-width: 374px) {
    .hero-title {
    font-size: 48px;
    }

}



.hero-image {
    width: 100%;
    min-height: 372px;
    flex-grow: 1;
    background: url('../images/mobile-bg-hero.webp') center/cover no-repeat;
}

 @media (min-resolution: 192dpi) and (max-width: 767px), 
(-webkit-min-device-pixel-ratio: 2) and (max-width: 767px) {
  
.hero-image {
  background: url('../images/mobile-bg-hero@2x.webp') center/cover no-repeat;
  }
}

@media (min-width: 768px) {
.content {
  padding: 120px 32px 52px;
}

.hero-title {
    font-size: 76px;
    margin-bottom: 24px;
}

.hero-text {
    max-width: 603px;
    font-size: 16px;
    line-height: 1.25;
}

.hero-image {
    min-height: 536px;
    background: url('../images/tablet-bg-hero.webp') center/cover no-repeat;
}

@media (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px), 
       (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px) {
  
.hero-image {
  background: url('../images/tablet-bg-hero@2x.webp') center/cover no-repeat;
  }
}
}

@media (min-width: 1280px) {

.hero .container {
  flex-direction: row;
  gap: 38px;
}

.content {
  padding: 232px 0px 52px 100px;
}

.hero-title {
   max-width: 502px;
   margin-bottom: 128px;
}

.hero-text {
    max-width: 472px;
  
}

.hero-image {
    max-width: 640px;
    flex-grow: 1;    
    background: url('../images/bg-hero.webp') center/cover no-repeat;
    min-height: 100%;
}

 @media (min-resolution: 192dpi) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px) {
.hero-image{
   background: url('../images/bg-hero@2x.webp') center/cover no-repeat;
  }
}
}


/*How it works*/

.works .container {
  padding: 0;
}

.works-wrap-image {
  max-width: 100%;
  width: 375px; /* або інше значення */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7a3145;
  padding: 40px 20px;
}

.works-image {
  border-radius: 30px;
}

.works-wrap-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 80px 20px;
  background: #576f35;
}

.works-title {
    width: 335px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.works-title-accent {
    color: #d4bfc4;
}

.works-text {
    width: 335px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 40px;
    
}

.works-list {
    counter-reset: list-counter; /* Ініціалізуємо власний лічильник */  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.works-item {
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 15px;
    padding: 12px 27px 12px 24px;
    width: 335px;
    height: 84px;
    background: #fbfbfb;
}

.works-number {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-shrink: 0;
    border-radius: 100%;
    background-color:  #7a3145;
    width: 42px;
    height: 42px;
    border: 5px solid #d4bfc4;   
}

.works-number::before {
    counter-increment: list-counter; /* Збільшуємо лічильник */
    content: counter(list-counter); /* Вставляємо значення лічильника */
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
}
.text-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #858585;
    width: 204px;
}

.text-item-accent {
    font-weight: 700;
    color: #141414;
}

.hyphenation.tablet {
    display: inline;
}

.hyphenation {
    display: block;
}

@media (min-width: 768px) {
.works-wrap-image {
    width: 768px;
    padding: 100px 64px;
}

.works-item {
    width: 440px;
    padding-right: 25px;
    padding-left: 24px;
}
.text-item {
    width: 440px;
}
.hyphenation.tablet {
    display: block;
}

.hyphenation {
    display: inline;
}

.works-wrap-content {
  padding: 100px 64px;
}

.works-title {
    width: 440px;
    font-size: 32px;
    margin-bottom: 24px;
}

.works-text {
    width: 440px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
    
}

}